@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class = "text-success">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Your Registration is Successful!!
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

